<h1>所有申请</h1>
<table>
  <thead>
    <tr>
      <th>状态</th>
      <th>加班时间</th>
      <th>申请时间</th>
      <th>申请人</th>
      <th>管理员备注</th>
      <th></th>
    </tr>
  <tbody>
   <% if @current_user.admin?%>
    <% @applies.each do |apply|%>
      <tr>
        <td><%= apply.status %></td>
        <td><%= apply.overtime.strftime("%Y-%m-%d") %></td>
        <td><%= apply.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= apply.user.name %></td>
        <td><%= apply.tips %></td>
        <td><%= apply.tips %></td>
      </tr>
     <% end%>
   <% else %> 
    <% @current_user.applies.each do |apply| %>
      <tr>
        <td><%= apply.status %></td>
        <td><%= apply.overtime.strftime("%Y-%m-%d") %></td>
        <td><%= apply.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= apply.user.name %></td>
        <td><%= apply.tips %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
