
<p id="notice"><%= notice %></p>

<p>

  <strong>Name:</strong>
  <p><%= @apply.user.name%></p>
</p>


<p>
  <strong>申请状态:</strong>

   <p><%= @apply.status%></p>
</p>


<p>
  <strong>加班时间:</strong>
   
   <p><%= @apply.overtime.strftime("%Y-%m-%d")%></p>
</p>

<p>
  <strong>申请时间:</strong>
   <p><%= @apply.created_at.strftime("%Y-%m-%d")%></p>
</p>
<p>
  <strong>备注:</strong>
   <p><%= @apply.tips%></p>
</p>
