<h1>你好 <br> <%= @user.name %></h1>
<p>你的激活码是 <%= @user.ActiveCode %></p>
<a href='http://172.16.10.151:3000/users/pro_activate/<%= @user.name%>/<%= @user.ActiveCode%>/<%= @user.id %>'>
http://172.16.10.151:3000/users/pro_activate/<%= @user.name%>/<%= @user.ActiveCode%>/<%= @user.id %>
</a>

