<h1>hello <br> <%= @user.name %></h1>
<p>your active code is <%= @user.ActiveCode %></p>
<a href='http://172.16.10.151:3000/users/pro_activate/<%= @user.name%>/<%= @user.ActiveCode%>/<%= @user.id %>'>
http://172.16.10.151:3000/users/pro_activate/<%= @user.name%>/<%= @user.ActiveCode%>/<%= @user.id %>
</a>

