<h1>hello <br> <%= @user.name %></h1>
<p>your active code is <%= @user.ActiveCode %></p>
<a href='http://localhost:3000/users/pro_activate?name=<%= @user.name%>&ActiveCode=<%= @user.ActiveCode%>&id=<%= @user.id %>'>
http://localhost:3000/users/pro_activate?name=<%= @user.name%>&ActiveCode=<%= @user.ActiveCode%>&id=<%= @user.id %>
</a>

